In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\Attrition.csv")

In [6]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [25]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
lb=LabelEncoder()

In [9]:
df['Attrition']=lb.fit_transform(df['Attrition'])
df['BusinessTravel']=lb.fit_transform(df['BusinessTravel'])
df['Department']=lb.fit_transform(df['Department'])
df['EducationField']=lb.fit_transform(df['EducationField'])
df['Gender']=lb.fit_transform(df['Gender'])
df['JobRole']=lb.fit_transform(df['JobRole'])
df['MaritalStatus']=lb.fit_transform(df['MaritalStatus'])
df['Over18']=lb.fit_transform(df['Over18'])
df['OverTime']=lb.fit_transform(df['OverTime'])

In [10]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
mn=MinMaxScaler()

In [37]:
x_train_mn=mn.fit_transform(x_train)

In [38]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [39]:
x_train_new

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.142857,1.0,0.177905,0.5,0.714286,0.25,1.0,0.0,0.749879,0.666667,...,0.333333,0.0,1.000000,0.050,0.500000,0.666667,0.025,0.055556,0.000000,0.000000
1,0.000000,0.0,0.132712,0.5,0.142857,0.25,0.2,0.0,0.489115,0.333333,...,1.000000,0.0,0.000000,0.000,0.333333,0.666667,0.000,0.000000,0.000000,0.000000
2,0.261905,1.0,0.821377,1.0,0.678571,0.25,0.4,0.0,0.168360,1.000000,...,1.000000,0.0,0.333333,0.250,0.333333,0.666667,0.075,0.111111,0.000000,0.117647
3,0.500000,1.0,0.279770,0.5,0.392857,0.50,0.6,0.0,0.799710,1.000000,...,0.666667,0.0,0.000000,0.175,0.500000,0.666667,0.125,0.222222,0.066667,0.000000
4,0.309524,1.0,0.149928,0.5,0.678571,0.50,0.2,0.0,0.909531,0.333333,...,0.000000,0.0,0.333333,0.250,0.333333,0.666667,0.250,0.444444,0.000000,0.117647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,0.404762,1.0,0.464849,0.5,0.964286,0.50,0.2,0.0,0.771650,0.333333,...,1.000000,0.0,0.666667,0.250,0.500000,0.333333,0.250,0.500000,0.400000,0.470588
1172,0.547619,1.0,0.247489,0.5,0.142857,0.50,0.2,0.0,0.877117,0.333333,...,0.000000,0.0,0.000000,0.275,0.500000,0.000000,0.075,0.111111,0.066667,0.117647
1173,0.095238,0.5,0.827834,0.5,0.071429,0.75,0.2,0.0,0.581519,0.666667,...,0.333333,0.0,0.333333,0.025,0.833333,0.666667,0.000,0.000000,0.000000,0.000000
1174,0.261905,1.0,0.915352,0.5,0.428571,0.25,0.8,0.0,0.992743,1.000000,...,0.000000,0.0,0.333333,0.250,0.333333,0.666667,0.100,0.166667,0.000000,0.176471
1175,0.761905,1.0,0.116212,1.0,0.285714,0.50,0.4,0.0,0.769231,0.666667,...,0.666667,0.0,0.333333,0.675,0.333333,0.666667,0.025,0.000000,0.000000,0.000000

In [40]:
np.round(x_train_new.describe(),1)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,0.4,0.8,0.5,0.6,0.3,0.5,0.4,0.0,0.5,0.6,...,0.6,0.0,0.3,0.3,0.5,0.6,0.2,0.2,0.1,0.2
std,0.2,0.3,0.3,0.3,0.3,0.3,0.3,0.0,0.3,0.4,...,0.4,0.0,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.2
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.3,0.5,0.3,0.5,0.0,0.2,0.2,0.0,0.2,0.3,...,0.3,0.0,0.0,0.2,0.3,0.3,0.1,0.1,0.0,0.1
50%,0.4,1.0,0.5,0.5,0.2,0.5,0.4,0.0,0.5,0.7,...,0.7,0.0,0.3,0.2,0.5,0.7,0.1,0.2,0.1,0.2
75%,0.6,1.0,0.8,1.0,0.5,0.8,0.6,0.0,0.8,1.0,...,1.0,0.0,0.3,0.4,0.5,0.7,0.2,0.4,0.1,0.4
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [53]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder   
from sklearn.preprocessing import OrdinalEncoder

In [54]:
transformer= ColumnTransformer(transformers=[
    ('a',OrdinalEncoder(categories=[['Yes','No']]),['Attrition']),
    ('b',OneHotEncoder(sparse=False,drop='first'),['BusinessTravel','Department'])
] , remainder='passthrough')

In [56]:
#transformer.fit_transform(x_train).shape

In [57]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
dt= DecisionTreeClassifier()

In [59]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [60]:
y_pred=dt.predict(x_test)

In [61]:
from sklearn.metrics import accuracy_score

In [62]:
accuracy_score(y_test,y_pred)

0.7653061224489796